[submodule "bash/autojump"]
	path = autojump
	url = https://github.com/wting/autojump
[submodule "bash/gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/mmorse1217/dotfiles
