[Desktop Entry]
Name=Load keybindings
Exec=/usr/bin/xmodmap /home/$USER/.Xmodmap
Terminal=false
Type=Application
Hidden=false
X-GNOME-Autostart-enabled=true
Comment=xmodmap script
